@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    font-family: "Ubuntu","Lora",sans-serif;
}

.myBg{
    background:url("../img/bg.jpg") no-repeat;
    background-size:cover;
}

.indexWrap{
    max-width:80%;
    background:rgba(255,255,255,60%);
    margin:auto;
    border-radius:20px;
}

.entity{
    color:white !important;
}

a.d-flex justify-content-center align-items-center rounded-circle bg-warning text-decoration-none :hover{
    color:black !important;
}