@model MyMovie.Models.MovieDto


@{
    ViewData["Title"] = "View";
}

<div class="container-fluid bg-dark p-3 text-white">
    <h1 class="text-center">Update a Movie</h1>

<div class="container-fluid bg-warning p-3 text-dark">
    <div class="container align-content-center mb-lg-5">
        <div>

            <div>
                <a asp-action="List" class="btn btn-outline-dark shadow">Back to List</a>
            </div>
            <div class="row justify-content-center">
                    <form asp-action="Update" asp-route-id="@Model.movie_id" class="form col-md-9 bg-dark text-white p-md-3 text-capitalize rounded-2 shadow mb-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="movie_id" />
            <div class="row">
                            <div class="col-md-2">
                                
                                    @if (Model.HasPic)
                                    {
                                        <label for="MoviePic">Current Image:</label>
                                    <img src="@Model.MovieImgPath" alt="Movie Image" class="mt-2 img-fluid" />

                                }
                                    <label for="MoviePic">Upload New Image:</label>
                                    <input type="file" name="MoviePic" id="MoviePic" />

                                </div>
               <div class="col-md-5">
                   
            <div class="form-group mb-3">
                <label asp-for="movie_name" class="control-label"></label>
                <input asp-for="movie_name" class="form-control" />
                <span asp-validation-for="movie_name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="introduction" class="control-label"></label>
                <input asp-for="introduction" class="form-control" />
                <span asp-validation-for="introduction" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
                        </div>
                        <div class="col-md-5">
            <div class="form-group mb-3">
                <label asp-for="duration" class="control-label"></label>
                <input asp-for="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="star" class="control-label"></label>
                <input asp-for="star" class="form-control" />
                <span asp-validation-for="star" class="text-danger"></span>
            </div>
                            <div class="form-group mb-3">
                                <label asp-for="ticket_quantity" class="control-label"></label>
                                <input asp-for="ticket_quantity" class="form-control" />
                                <span asp-validation-for="ticket_quantity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pb-3">
                        <input type="submit" value="Save" class="btn btn-warning w-100" />
            </div>
        </form>
    </div>
</div>
    </div>
    </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
