@model MyMovie.Models.ViewerDto

@{
    ViewData["Title"] = "New";
}

<div class="container-fluid bg-dark p-3 text-white">
    <h1 class="text-center">Create a Viewer</h1>
</div>
<div class="container-fluid bg-light p-3 text-dark">
    <div class="container align-content-center">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a asp-action="List" class="btn btn-warning shadow">Back to Viewer List</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <form method="POST" asp-action="Add" class="form col-md-4 bg-white text-dark p-md-3 rounded-2 shadow mb-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="first_name" class="control-label fw-bolder fs-5"></label>
                    <input asp-for="first_name" class="form-control" />
                    <span asp-validation-for="first_name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="last_name" class="control-label fw-bolder fs-5"></label>
                    <input asp-for="last_name" class="form-control" />
                    <span asp-validation-for="last_name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="identity" class="control-label fw-bolder fs-5">Choose an identity:</label>
                    <select id="identity" asp-for="identity" class="form-control">
                        <option value="" selected disabled>-- Please select --</option>
                        <option value="general audience" >general audience</option>
                        <option value="movie critic" >movie critic</option>
                        <option value="journalist">journalist</option>
                    </select>
                    <span asp-validation-for="identity" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="checkbox" id="membership" name="membership" value="Y" @(Model?.membership == "Y" ? "checked" : "") />
                    <label asp-for="membership" class="control-label fs-6">Are you a member of our film festival?</label>
                    <span asp-validation-for="membership" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="age" class="control-label fw-bolder fs-5"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="form-group pb-3">
                    <input type="submit" value="Create" class="btn btn-warning w-100" />
                </div>
            </form>
        </div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
